<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>채팅 클라이언트 01</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>>
    <script>
        function connect() {
            let websocket = new WebSocket("ww://localhost:8001");
        }
        connect();
    </script>

</head>
<body>


</body>
</html>