<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
  <body>
      <input type='button' 
             value='이게' 
             onclick='alert("뭐야")'/>
    </form>

    <script src="/socket.io/socket.io.js"></script>
<script>
    var socket;

    var options = {'forceNew':true}; // 기존의 연결을 재사용 할 수 있도록
    var url = 'http://' + host + ':' + port;
    socket = io(url, options);
</script>

<script>
  socket.on('connect', () => {
      println('웹소켓 서버에 연결되었습니다. : ' + url);
      console.log('socket.id : ' + socket.id);
  });

  socket.on('disconnect', () => {
      println('웹소켓 연결이 종료되었습니다.');
      console.log('socket.id : ' + socket.id);
  });
</script>
  </body>
</html>